In [6]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("original_loan.csv")

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [7]:
np.unique('Loan_Amount_Term')

array(['Loan_Amount_Term'], dtype='<U16')

In [14]:
pd.get_dummies(df,columns=['Loan_Amount_Term'])

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,...,Loan_Amount_Term_12.0,Loan_Amount_Term_36.0,Loan_Amount_Term_60.0,Loan_Amount_Term_84.0,Loan_Amount_Term_120.0,Loan_Amount_Term_180.0,Loan_Amount_Term_240.0,Loan_Amount_Term_300.0,Loan_Amount_Term_360.0,Loan_Amount_Term_480.0
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,1.0,...,0,0,0,0,0,0,0,0,1,0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,1.0,...,0,0,0,0,0,0,0,0,1,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,1.0,...,0,0,0,0,0,0,0,0,1,0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,1.0,...,0,0,0,0,0,0,0,0,1,0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,1.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,1.0,...,0,0,0,0,0,0,0,0,1,0
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,1.0,...,0,0,0,0,0,1,0,0,0,0
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,1.0,...,0,0,0,0,0,0,0,0,1,0
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,1.0,...,0,0,0,0,0,0,0,0,1,0
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,0.0,...,0,0,0,0,0,0,0,0,1,0